<section class="container">
  <div class="header">
    <h2>Login</h2>
  </div>
  <div class="form-container">
    <form [formGroup]="form" (ng-submit)="login()">
      <div class="fields">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
          <mat-error *ngIf="emailField?.errors?.['required']"
            >Es requerido</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" required />
          <mat-error *ngIf="passwordField?.errors?.['required']"
            >Es requerido</mat-error
          >
        </mat-form-field>
      </div>
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="login()">
          Login
        </button>
      </div>
    </form>
  </div>
</section>
