<section class="container">
  <section class="container__header">
    <h2>Add a server</h2>
    <section class="container__header__buttons">
      <button mat-raised-button color="secondary" (click)="back()">
        Volver
      </button>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Guardar
      </button>
    </section>
  </section>
  <section class="container__form">
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>IP Address</mat-label>
        <input matInput formControlName="ipAddress" required />
        <mat-error *ngIf="ipField?.touched && ipField?.errors?.['required']">Es requerido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="nameField?.touched && nameField?.errors?.['required']">Es requerido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Memory</mat-label>
        <input matInput formControlName="memory" required />
        <mat-error *ngIf="memoryField?.touched && memoryField?.errors?.['required']">Es requerido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <input matInput formControlName="type" required />
        <mat-error *ngIf="typeField?.touched && typeField?.errors?.['required']">Es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" required>
          <mat-option value="SERVER_UP">SERVER_UP</mat-option>
          <mat-option value="SERVER_DOWN">SERVER_DOWN</mat-option>
        </mat-select>
        <mat-error *ngIf="statusField?.touched && statusField?.errors?.['required']">
          Es requerido
        </mat-error>
      </mat-form-field>
    </form>
  </section>
</section>
